<a href="https://colab.research.google.com/github/celsus146/python_labs/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
print('документ,','который','вы читаете', sep=';' , end='!!!!')

документ,;который;вы читаете!!!!

In [8]:
print("Документ, который вы читаете, размещен не на статической веб-странице,\n а в интерактивной среде под названием блокнот Colab, позволяющей писать и выполнять код.Например, вот ячейка с коротким скриптом Python, который позволяет рассчитать значение, выразить его в виде переменной и распечатать результат")

Документ, который вы читаете, размещен не на статической веб-странице,
 а в интерактивной среде под названием блокнот Colab, позволяющей писать и выполнять код.Например, вот ячейка с коротким скриптом Python, который позволяет рассчитать значение, выразить его в виде переменной и распечатать результат

In [16]:
a = 5
second_var = 'документ'
print(f'{second_var} #{a}')

документ #5

In [20]:
name = input('what is your name ? ')
print(name)

what is your name ? fil
fil

In [52]:
number1 = int(input("a= "))
number2 = int(input("b= "))
op=input()
result = None
if op=='+':
  result = number1 + number2
elif op =='*':
  result = number1 * number2
elif op=='/':
  result = number1 / number2
elif op=='-':
  result = number1 - number2 
else : print ('you have obosralsya')
print(result)

a= 5
b= 4
4
you have obosralsya
None

In [41]:
name = input('what is your name ? :')
age  = int(input('how old are you ? :'))
if name == '' :
  print('say your name,please')
if age == '' :
  print('say your age please')
else : print('suck my cock')

what is your name ? :5
how old are you ? :h

ValueError: ignored

In [ ]:
boolean_var_1 = True
boolean_var_2 = False

In [60]:
month = input('month :\n')
year = int(input('year :'))
if month == 'january' or 'march' or 'may' or 'jule' or 'august' or ' october' or 'december' or 'february' or 'april'  or 'june' or 'september' or 'november':
 if month == 'january' or 'march' or 'may' or 'jule' or 'august' or ' october' or 'december':
  print(31)
 elif month == 'february' and year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
  print(29)
 elif month  == 'february' and year % 4 == 0 and year % 100 == 0 or year % 400 == 0 or year % 4 != 0:
  print(28)
 else : print(30)  
else : print('shit')

month :
r
year :2000
31

In [ ]:
def line (x):
  y=2+3*x
  return y